In [16]:
from simulation import generate_data, generate_sequence
import numpy as np
import pandas as pd

In [12]:
generate_data(1000000)

990000

In [13]:
deck_data = np.load('deck_data.npy')

In [14]:
deck_data.shape

(2, 1000000)

In [19]:
cur_sims = pd.DataFrame({'seed':deck_data[0].tolist(), 
              'deck':deck_data[1].tolist()}).set_index('seed')
cur_sims

                                                     deck
seed
0       0010100001110000110010011010101111001101110111...
1       1101111010100111011000011001100010101000101000...
2       0110111111010001110001000001101101100100010101...
3       0010000101101010111111101111111011000000001100...
4       1011011001101100101011001111010101100100001101...
...                                                   ...
999995  1111100011110100000110000100111010010100100110...
999996  0000010010001111101001111011000111111000101001...
999997  1111111110110110111010101000001011011000001000...
999998  1110110100111010110100101111101000001010011000...
999999  1111100101100101010000111100000100001101001101...

[1000000 rows x 1 columns]